<div class="container">
  <div class="page-header">
    <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissable"><button id="jquery-ui-hide" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= h(flash[:notice]) %></div>
    <% end %>
     <h1>Top Page</h1>
  </div>
  <p>Welcome SharePla</p>
  <%= link_to 'Create Plan!', newplan_path %>
</div>

<% if ! @plans.nil? %>
  <% @plans.each do |json| %>
    <%= link_to json['title'], json %>
  <% end %>
<% end %>
