<div class="container">
  <div class="page-header">
    <h1>Top Page</h1>
  </div>
  <p>Welcome SharePla</p>
  <%= link_to 'Create Plan!', newplan_path %>
  <%= h(flash[:notice]) %>
</div>

<% if ! @plans.nil? %>
  <% @plans.each do |json| %>
    <%= link_to json['title'], json %>
  <% end %>
<% end %>
