<div class="container">
  <div class="page-header">
    <h1><%= @plan.title %></h1>
  </div>
  <% @plan.days['day0'].each do |arr| %>
    <% arr.each do |key,val| %>
      <li class="ui-state-default"><%= val %></li>
    <% end %>
  <% end %>
</div>
