<div class="container">
  <div class="page-header">
    <h1><%= @plan.title %></h1>
    <h2><%= @plan.description %></h2>
  </div>
  <% @plan.days.each do |arr| %>
      <li class="ui-state-default"><%= arr.title %></li>
  <% end %>
</div>
