<div class="container">
  <div class="page-header">
    <h1>趣味巡り in 東京</h1>
    <h2>
      アニメ、Apple、もんじゃ焼き、スカイツリーを見たい<br>
      持ち物：充電器は忘れずに！！
    </h2>
  </div>
  <ul>
    <li class="ui-state-default">羽田空港</li>
    <li class="ui-state-default">品川駅</li>
    <li class="ui-state-default">秋葉原</li>
    <li class="ui-state-default">銀座</li>
    <li class="ui-state-default">浅草</li>
    <li class="ui-state-default">スカイツリー</li>
    <li class="ui-state-default">ホテル</li>

</div>
