language: ruby
rvm:
- 2.0.0
deploy:
  provider: heroku
  api_key:
    secure: ZlnNOSRChLaqKShNyc1aexkQkNQwFwbwUcIb2QGqEsIN5UvgTCKiHw5nOJVK8WZMs5AP0X12CTg6iigDaLMSHu8hya76H8Gww19qZsoVa5ZZ663UKFNjSMtXU05RvxtBem6ef86RZ8rJJ5YzPXUDwG2TCQABqFh0spOAUNEKh24=
  app: sharepla
  on:
    repo: RyuPiT/SharePla
services:
  - mongodb
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - gem install nokogiri -- --with-cflags='--std=gnu99'
