<div id="main">
    <h1><%= link_to 'シェアプラ', root_path %></h1>
  <div id="planpost">
    <form action="<%= newplan_path %>" method="POST">
      <input type="input" name="keyword" required>
      <input type="submit" value="追加">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </div>
  <div id="plan-list">
    <ol>
      <li>羽田空港</li>
      <li>品川駅</li>
      <li>浅草・雷門</li>
      <li>東京スカイツリー</li>
      <li>ホテル</li>
    </ol>
    <h3> <%= @planlist %> </h3>
  </div>
</div>
