<div id="plan-list">
  <div class="page-header">
    <form class="form-inline" id="saveplan" method="POST">
      <div class="row">
	<div class="col-md-10">
	  <label class="sr-only">プランタイトル</label>
	  <input class="form-control input-lg" type="input" name="plan-title" placeholder="プランタイトル" required>      
	</div>
	<div class="col-md-1">
	  <button class="btn btn-default btn-lg" type="submit">プラン保存</button>
	</div>
      </div>
  </div>
  <ol id="sortable">
   <li class="ui-state-default"><span class="title">羽田空港</span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></li>
  </ol>
  </form>
</div>
<div id="planpost">
  <form action="<%= newplan_path %>" id="addplan" method="POST">
    <input type="input" name="keyword" required>
    <input type="submit" value="追加">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>
