<div id="main">
    <h1>プラン作成</h1>
  <div id="planpost">
    <form action="<%= newplan_path %>" method="POST">
      <input type="input" name="keyword" required>
      <input type="submit" value="追加">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </div>
  <div id="plan-list">
    <ol id="sortable">
      <li class="ui-state-default">羽田空港</li>
      <li class="ui-state-default">品川駅</li>
      <li class="ui-state-default">浅草・雷門</li>
      <li class="ui-state-default">東京スカイツリー</li>
      <li class="ui-state-default">ホテル</li>
      <li class="ui-state-default"><%= @planlist %></h3>
    </ol>
  </div>
</div>
