<div class="container">

  <div id="plan-list">
    <form class="row" id="saveplan" method="POST">
      <input type="input" name="plan-title" placeholder="プランタイトル" required>      
      <ol id="sortable">
        <li class="ui-state-default">羽田空港</li>
        <li class="ui-state-default">品川駅</li>
        <li class="ui-state-default">浅草・雷門</li>
        <li class="ui-state-default">東京スカイツリー</li>
        <li class="ui-state-default">ホテル</li>
      </ol>
      <input class="btn btn-primary" type="submit" value="保存">
    </form>
  </div>

  <div id="planpost">
    <form action="<%= newplan_path %>" id="addplan" method="POST">
      <input type="input" name="keyword" required>
      <input type="submit" value="追加">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </div>

</div>
