<% content_for :plan_tab_navs do %>
  <li class="active"><a href="#distination" data-toggle="tab">目的地</a></li>
<% end %>

<% content_for :plan_tab_contents do %>
  <div class="tab-pane active" id="distination">
    <div id="planpost">
      <%= render 'addplan_form' %>
    </div><!-- #planpost -->
    <p>Example:</p>
    <ol id="distination-card-sortable" class="droptrue">
      <li class="ui-state-default"><span class="title">羽田空港</span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button></li>
      <li class="ui-state-default"><span class="title">成田空港</span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button></li>
    </ol>
  </div>
<% end %>
