- content_for :plan_tab_navs do
  %li#travel-map-pin-tab
    %a{href: '#map-pin', 'data-toggle' => 'tab', title: 'マップのピン'}
    %script{language: 'JavaScript'}
      window.onload = mapInitialize;

- content_for :plan_tab_contents do
  #map-pin.tab-pane
    %form#own-card{action: '', name: 'mark'}
      .row
        .col-sm-10
          %input.form-control{name: 'keyword', placeholder: 'カードのタイトルを入力してください', required: '', type: 'input'}
        .col-sm-2
          %input.btn.btn-default#create-mark{type: 'button', value: '作成'}
