- content_for :plan_tab_navs do
  %li#travel-map-tab
    %a{href: '#map', 'data-toggle' => 'tab', onclick: 'initialize()', title: '地図検索'}

- content_for :plan_tab_contents do
  #map.tab-pane
    %form#map-search{action: map_search_path, method: 'POST'}
      .row
        .col-sm-10
          %input.form-control{name: 'keyword', placeholder: 'グーグルマップのように', required: '', type: 'input'}
        .col-sm-2
          %input.btn.btn-default{type: 'submit', value: '検索'}
    #map-canvas
    %ol#map-search-result.droptrue
