- content_for :plan_tab_navs do
  %li#travel-map-tab
    %a{href: '#map', 'data-toggle' => 'tab', title: '地図検索'}
    %script{language: 'JavaScript'}
      window.onload = mapInitialize;

- content_for :plan_tab_contents do
  #map.tab-pane
    %form#own-card{action: '', name: 'mark'}
      .row
        .col-sm-10
          %input.form-control{name: 'keyword', placeholder: 'カードのタイトルを入力してください', required: '', type: 'input'}
        .col-sm-2
          %input.btn.btn-default#create-mark{type: 'button', value: '作成'}
    %form#map-search{action: map_search_path, method: 'POST'}
      .row
        .col-sm-10
          %input.form-control{name: 'keyword', placeholder: '地域・お店・建物etc', required: '', type: 'input'}
        .col-sm-2
          %input.btn.btn-default{type: 'submit', value: '検索'}
    #map-canvas
    %ol#map-search-result.droptrue
