<% content_for :plan_tab_navs do %>
  <li><a href="#message" data-toggle="tab">メッセージ</a></li>
<% end %>

<% content_for :plan_tab_contents do %>
  <div class="tab-pane" id="message">
    <div id="planpost">
      <%= render 'addplan_form' %>
    </div><!-- #planpost -->
    <p>Example:</p>
    <ol id="message-card-sortable" class="droptrue">
      <li class="sortable-card"><div class="ui-state-default"><span class="title">羽田空港</span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div></li>
      <li class="sortable-card"><div class="ui-state-default"><span class="title">成田空港</span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div></li>
    </ol>
  </div>
<% end %>
