- content_for :plan_tab_navs do
  %li.active
    %a{href: '#message', 'data-toggle' => 'tab', title: 'メッセージ'}

- content_for :plan_tab_contents do
  .tab-pane.active#message
    %h4= 'メッセージ'
    = render 'create_message_form'
    %p= 'Example:'
    %ol#example-message-card.droptrue
      - Card.message_samples.each do |msg|
        %li.sortable-card
          .default-card
            .title 
              = msg
              %button.close{type: 'button', 'data-dismiss' => 'alert', 'aria-hidden' => 'true'} &times;
