<% content_for :plan_tab_navs do %>
  <li><a href="#place" data-toggle="tab">観光地</a></li>
<% end %>

<% content_for :plan_tab_contents do %>
  <div class="tab-pane" id="place">
    地域タグを選択してください。
    <ol id="tourist-card-sortable"  class="droptrue">
    </ol>
  </div><!-- .tab-pane -->
<% end %>
