- content_for :plan_tab_navs do
  %li
    %a{href: '#route', 'data-toggle' => 'tab', title: 'ルート検索'}

- content_for :plan_tab_contents do
  #route.tab-pane
    %h4 ルート検索
    %form#route-search{action: route_search_path, method: 'POST'}
      .row
        .col-sm-10
          .btn-group{ data: {toggle: 'button'} }
            %label.btn.btn-primary
              %input{ type: 'radio', name: 'WALKING' } 徒歩
            %label.btn.btn-primary
              %input{ type: 'radio', name: 'BICYCLING' } 自転車
            %label.btn.btn-primary
              %input{ type: 'radio', name: 'DRIVING' } 車
            /%label.btn.btn-primary
            /  %input{ type: 'radio', name: 'TRANSIT' } 公共交通機関
          %input.form-control{name: 'keyword-src', placeholder: '始点', required: '', type: 'input'}
          %input.form-control{name: 'keyword-dst', placeholder: '終点', required: '', type: 'input'}
        .col-sm-2
          %input.btn.btn-default{type: 'submit', value: '検索'}

    %ol#route-search-result.droptrue
