<% content_for :plan_tab_navs do %>
  <li><a href="#tag" data-toggle="tab">タグ</a></li>
<% end %>
<% content_for :plan_tab_contents do %>
  <div class="tab-pane" id="tag">
    <div class="btn-group" id="prefectures"  data-toggle="buttons">
      <% Japan.areas.each do |area, prefectures| %>
        <!-- 北海道、東北、関東、中部など地域区分に分ける -->
        <div class="area-division">
          <p><%= area %></p>
          <% prefectures.each do |prefecture| %>
            <% if @plan && @plan[:area_tags] %>
              <% if @plan[:area_tags].include?(prefecture) %>
                <label class="btn btn-primary active">
                  <input type="checkbox"> <%= prefecture %>
                </label>
              <% else %>
                <label class="btn btn-primary">
                  <input type="checkbox"> <%= prefecture %>
                </label>
              <% end %>
            <% else %>
              <label class="btn btn-primary">
                <input type="checkbox"> <%= prefecture %>
              </label>
            <% end %>
          <% end %>
        </div><!-- area-division -->
      <% end %>
    </div>
  </div>
<% end %>
