<% content_for :plan_tab_navs do %>
  <li><a href="#time" data-toggle="tab" title="時間"></a></li>
<% end %>

<% content_for :plan_tab_contents do %>
  <div class="tab-pane" id="time">
    <h4>時間</h4>
    <% Day.hours.each.with_index(1) do |hour, idx| %>
      <div class="btn btn-primary"><%= hour %></div>
      <% if (idx%4).zero? then%>
        <br>
      <% end %>
    <% end %>
  </div><!-- .tab-pane -->
<% end %>
