@import "font-awesome";
$icon-font-path: "/assets/";

$boader-color:        #e1e1e1;
$main-color:          #d0e0f0;
$attention-color:     #a6d233;
$glay-color:          #e8e8e8;
$dark-color:          #608090;
$dark-color-gradient: #7191a1;
$font-color:          #305060;


html,body{
  //footer position buttom
  height:100%;
}

#wrap {
  //footer position buttom
  position:relative;
  height:100%;
}

#wrap > .container {
  //footer more top
  padding: 0px 15px 80px;
}

/* navigation bar */

//navigation bar backgound-color
.navbar {
  background-image: -webkit-gradient(linear,left 0,left 100%,from($dark-color-gradient),to($dark-color));
  background-image: linear-gradient(to bottom,#7191a1 0,$dark-color 100%);
}

//navigation bar font-color
.navbar-default .navbar-brand {
  color: $glay-color;
  font-size: 23px;

  &:hover {
    color: #fafafa;
  }
}

//navigation bar backgound-color
.navbar-default
.navbar-nav > .active > a {
  background-color: #5d7d8d;

    &:hover {
     background-color: #507080;
    }
}

//navigation bar font-color
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fafafa;
}


//navigation bar font-color
.navbar-default
.navbar-nav > li > a {
  color: $glay-color;
    &:hover {
      color: #fafafa;
    }
}



/* main contents */
//avoid over in navigation bar
.page-header {
  padding-top: 20px;
}

//jquery_ui_theme sortable
@mixin ui-state {
  color: $font-color;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  margin: 5px 0 8px;
  padding: 2px;
  width: 99%;
  font-size: 1.2em;

    &:hover {
      color: $dark-color;
      box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
      cursor: pointer;
      cursor: hand;
    }
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{
  @include ui-state;
  $main-gradient: #daeafa;
  background: $main-color;
  border: 1px solid $main-color;

    &:hover {
      background: -moz-linear-gradient(top,$main-gradient 0%,$main-color);
      background: -webkit-gradient(linear, left top, left bottom, from($main-gradient), to($main-color));
    }

}

.ui-state-hotel,
.ui-widget-content .ui-state-hotel,
.ui-widget-header .ui-state-hotel{
  @include ui-state;
  $hotel-card: #e2f7ce;
  $hotel-card-gradient: #efffdf;
  background: $hotel-card;
  border: 1px solid $hotel-card;

    &:hover {
      background: -moz-linear-gradient(top,$hotel-card-gradient 0%,$hotel-card);
      background: -webkit-gradient(linear, left top, left bottom, from($hotel-card-gradient), to($hotel-card));
    }

}

.ui-state-highlight {
  border: 1px dashed $dark-color;
  background: none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin: 0 5px 5px 5px;
  padding: 18px 0 17px;
  font-size: 1.2em;
  height: 1.5em;
  line-height: 1.5em;
}

//dialog
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}


//flag icon
.ui-state-default > .title:before {
  content: "\e034";
  font-family: 'Glyphicons Halflings';
  padding: 0 10px 0;
}

//home icon
.ui-state-hotel > .title:before {
  content: "\e021";
  font-family: 'Glyphicons Halflings';
  padding: 0 10px 0;
}

//time icon
.hour:before {
  content: "\e023";
  font-family: 'Glyphicons Halflings';
  padding: 0 2px 0;
  font-size: 10px ;
}

//area-label
.label-default {
  float: left;
}

//checkbox box-hidden
[data-toggle="buttons"] > .area-division > .btn > input[type="checkbox"] {
  display: none;
}

.btn-primary {
  background-image: -webkit-gradient(linear,left 0,left 100%,from($dark-color-gradient),to($dark-color));
  background-image: -webkit-linear-gradient(top,$dark-color-gradient,0%,$dark-color,100%);
  background-image: -moz-linear-gradient(top,$dark-color-gradient 0,$dark-color 100%);
  background-image: linear-gradient(to bottom,$dark-color-gradient 0,$dark-color 100%);
  background-repeat: repeat-x;
  border-color: $dark-color;
}

.btn-primary:active, .btn-primary.active {
  background-color: #B5B7B9;
  border-color: #F3F3F3;
}

/* footer position bottom */
footer {
  padding: 15px 15px 0px 15px;
  margin-top: 70px;
  border-top: 1px solid $boader-color;
  background-color: $glay-color;
  bottom: 0;
  width: 100%;
  position:absolute;
  height: 50px;

  a {
    color: #555;

    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}