@import "font-awesome";
$icon-font-path: "/assets/";

$boader-color: #e1e1e1;
$main-color: #d0e0f0;
$attention-color: #a6d233;
$glay-color: #e8e8e8;
$dark-color: #608090;
$font-color: #305060;


html,body{
  //footer position buttom
  height:100%;
}

#wrap {
  //footer position buttom
  position:relative;
  min-height:100%;
}

#wrap > .container {
  //footer more top
  padding: 0px 15px 80px;
}

/* navigation bar */

//navigation bar backgound-color
.navbar {
  background-image: -webkit-gradient(linear,left 0,left 100%,from(#7191a1),to($dark-color));
  background-image: linear-gradient(to bottom,#7191a1 0,$dark-color 100%);
}

//navigation bar font-color
.navbar-default .navbar-brand {
  color: $glay-color;
  font-size: 23px;

  &:hover {
    color: #fafafa;
  }
}

//navigation bar backgound-color
.navbar-default
.navbar-nav > .active > a {
  background-color: #5d7d8d;

    &:hover {
     background-color: #507080;
    }
}

//navigation bar font-color
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fafafa;
}


//navigation bar font-color
.navbar-default
.navbar-nav > li > a {
  color: $glay-color;
    &:hover {
      color: #fafafa;
    }
}



/* main contents */
//avoid over in navigation bar
.page-header {
  padding-top: 20px;
}

//jquery_ui_theme sortable
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{
  background: $main-color;
  border: 1px solid $main-color;
  color: $font-color;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  margin: 5px 0 8px;
  padding: 7px;
  font-size: 1.2em;

    &:hover {
      color: $dark-color;
      box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
      cursor:pointer;
      cursor:hand;
      $main-gradient: #daeafa;
      background: -moz-linear-gradient(top,$main-gradient 0%,$main-color);
      background: -webkit-gradient(linear, left top, left bottom, from($main-gradient), to($main-color));
    }

}

.ui-state-highlight {
  border: 1px dashed $dark-color;
  background: none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin: 0 5px 5px 5px;
  padding: 18px 0 17px;
  font-size: 1.2em;
  height: 1.5em;
  line-height: 1.5em;
}


//flag icon
.ui-state-default > .title:before {
  content: "\e034";
  font-family: 'Glyphicons Halflings';
  padding: 0 10px 0;
}

//home icon
.ui-state-default > .hotel:before {
  content: "\e021";
  font-family: 'Glyphicons Halflings';
  padding: 0 10px 0;
}


/* footer position bottom */

footer {
  padding: 15px 15px 0px 15px;
  margin-top: 70px;
  border-top: 1px solid $boader-color;
  background-color: $glay-color;
  bottom: 0;
  width: 100%;
  position:absolute;
  height: 50px;

  a {
    color: #555;

    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}