// Place all the styles related to the newplan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#plan-list > .navbar-fixed-top {
  top: 50px;
  padding: 10px 0 10px;
  background-color: #f0f0f0;
}

#sortable {
 list-style-type: none;
 margin-top:  130px;
 padding: 0;
}

.ui-state-highlight {
 height: 1.5em;
 line-height: 1.2em;
}

.ui-state-default > .glyphicon {
  padding: 0 10px 0;
}