// Place all the styles related to the plan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// plan/index.erb.html
.sns-botton > li{
  list-style: none;
  display:block;
}

#new-plan-button {
 text-align: center;
}


// plan/new.erb.html
#plan-list > .navbar-fixed-top {
  top: 50px;
  padding: 10px 0 10px;
  background-color: #f0f0f0;
}

textarea {
  margin: 5px 0 10px;
  resize:none;
}

#main-card-sortable,
#distination-card-sortable,
#hotel-card-sortable,
#tourist-card-sortable {
  list-style-type: none;
  padding: 0;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}

.contents {
  padding-top: 200px;
}

#card-search {
  height: 99%;
  overflow: scroll;
}

#prefectures > .area-division > .btn-primary {
  margin-top: 3px;
}

#prefectures > .area-division > p {
  margin: 10px 0 5px 0;
  color: #305060;
  border-bottom: 1px solid #f0f0f0;
}

#plan-list,
#plan-list > .container,
#plan-list > .container > .contents,
#plan-list > .container > .contents > .row,
#plan-list > .container > .contents > .row > .col-sm-6,
#plan-list > .container > .contents > .row > .col-sm-6 > .plan-detail {
  height: 99%;
}

#plan-list > .container > .contents > .row > .col-sm-6 > .plan-detail > #main-card-sortable {
  height: 96%;
}

#distination > p {
  color: #a0a0a0;
  font-size: 17px;
  padding: 20px 5px 5px 0;
}

.tab-content {
  margin-top:10px;
}

.plan-detail {
  overflow: scroll;
}

#sideber-left {
  border-left: 1px solid #ddd;
}

.travel-search {
  width: 92%;
}