// Place all the styles related to the plan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$boader-color:        #e1e1e1;
$main-color:          #d0e0f0;
$attention-color:     #a6d233;
$glay-color:          #e8e8e8;
$dark-color:          #608090;
$dark-color-gradient: #7191a1;
$font-color:          #305060;
$bgc-white:           #fefefe;

// plan/index.html.haml
.sns-button {
  width: 100%;
  height: 20px;
   > li{
    list-style: none;
    display: block;
    float: right;
  }
}

.attention {
  color: $attention-color;
  font-size: 43px;
}

#top-page-header h1 {
  margin: 0 auto;
  text-align: center;
  padding: 49px 0;
}

#new-plan-button {
 text-align: center;
}

.top-tabs {
  width: 92%;
}
.top-list-title {
  background-color: $main-color;
  padding: 10px 10px 30px 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  list-style: none;
  float: left;
  width: 225px;
  margin: 5px;
  cursor: pointer;
  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  a {
    width: 100%;
    height: 100%;
    float: right;
  }
  &:hover {
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
  }
  &:active {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3) inset;
    background-color: #cfdfef;
  }
  span {
    margin-right: 3px;
  }
}

.plans-list {
  margin-top: 30px;
}

.navbar-right > li > img {
    margin-top: 12px;
}

#home {
  padding-top: 13px;
}

.top-tabs {
  z-index: 20;
  > li > a:hover {
    background-color: #a0a0a0;
    color: #eeeeee;
  }
  > li.active > a {
    background-color: $dark-color;
    color: #eeeeee;
    &:hover {
      background-color: $dark-color;
      color: #eeeeee;
    }
  }
}
#myplans {
  padding-top: 13px;
}

.area-tags {
  overflow: auto;
  height: 21px;
}

// plan/start.html.haml
.start-img {
  float: right;
  width: 550px;
  height: 385px;
}

.carousel {
  width: 550px;
  height: 440px;
  margin: 20px;
  float: right;
}

.carousel-inner {
  width: 550px;
}
.carousel-control:hover, .carousel-control:focus {
  color: #555;
}

.carousel-indicators {
  li {
    border: 1px solid $font-color;
  }
  .active {
    background-color: $dark-color;
  }
}
.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

#start-page-header {
  height: 500px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  margin-top: 87px;
  border-radius: 15px;
  h1 {
    margin-left: 32px;
    margin-top: 100px;
  }
  h4 {
    margin-left: 32px;
    font-size: 17px;

  }
  .btn-primary {
    margin: 0 auto;
    margin-top: 20px;
  }
}

// plan/new.html.haml
#new-plan-page > .navbar-fixed-top {
  top: 50px;
  padding: 10px 0 10px;
  background-color: $bgc-white;
  z-index: 200;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5) inset;
}

#area-tags-box {
  overflow-y: auto;
  height: 37px;
}

textarea {
  margin: 5px 0 10px;
  resize:none;
}

#create-card-block > h4 {
  background-color: $bgc-white;
  padding: 8px 0 8px 13px;
  width: 134px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  margin-top: -7px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  vertical-align: top;
}

#new-my-plan-cards,
#show-my-plan-cards,
#example-message-card,
#hotel-search-result,
#tourist-search-result,
#map-search-result {
  list-style-type: none;
  padding: 0;
}

#new-my-plan-cards {
  padding-top: 20px;
}

#show-my-plan-cards > .sortable-card,
#new-my-plan-cards > .default-card {
  margin-left: 70px;
  width: 86%;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}

.contents {
  padding-top: 200px;
}

#card-search {
  padding: 20px 0 0 10px;
  height: 98%;
  overflow: scroll;
  width: 100%;
  background-color: $bgc-white;
  border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  margin-top: -10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#prefectures > .area-division > .btn-primary {
  margin-top: 3px;
}

#prefectures > .area-division > p {
  margin: 10px 0 5px 0;
  color: #305060;
  border-bottom: 1px solid #f0f0f0;
}

#new-plan-page,
#new-plan-page > .container,
#new-plan-page > .container > .contents,
#new-plan-page > .container > .contents > .row,
#new-plan-page > .container > .contents > .row > .col-sm-6,
#new-plan-page > .container > .contents > .row > .col-sm-6 > .plan-detail {
  height: 99%;
}

#new-my-plan-cards {
  height: 92%;
}

#message > p {
  color: #a0a0a0;
  font-size: 17px;
  padding: 20px 5px 5px 0;
}

//message icon
a[href^="#message"]:before {
  font-family: 'Fontello';
  content: "a";
}

.default-card > .title:before {
  font-family: 'Fontello';
  content: "a";
  padding: 0 10px 0;
}

//hotel icon
a[href^="#hotel"]:before {
  font-family: 'Fontello';
  content: "h";
}

//time icon
a[href^="#time"]:before {
  font-family: 'Glyphicons Halflings';
  content: "\e023";
}

//map icon
a[href^="#map"]:before {
  font-family: 'Fontello';
  content: "m";
}
//place icon
a[href^="#place"]:before {
  font-family: 'Fontello';
  content: "p";
}
//place icon
a[href^="#tag"]:before {
  font-family: 'Glyphicons Halflings';
  content: "\e135";
}
//route icon
a[href^="#route"]:before {
  font-family: 'Glyphicons Halflings';
  content: "\e178";
}
//up icon
#hidden-btn:before {
  font-family: 'Glyphicons Halflings';
  content: "\e113";
  font-size: 15px;
}
//down icon
#show-btn:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  font-size: 15px;
}
//card-carete icon
#create-card-block > h4:before {
  font-family: 'Glyphicons Halflings';
  content: "\e177";
  font-size: 17px;
  padding-right: 5px;
}

//your plane icon
#my-plan-block > h4:before {
  font-family: 'Glyphicons Halflings';
  content: "\e028";
  font-size: 15px;
  padding-right: 5px;
}

//review icon
#review-h3:before {
  font-family: 'Fontello';
  content: "R";
  padding: 0 7px 0;
  font-size: 24px;
}

.nav-tabs .tooltip {
  width: 100px ;
}

.tab-content {
  margin-top: 40px;
  z-index: 100;
  > .active {
    overflow-x: hidden;
  }
}

.plan-detail {
  overflow: scroll;
  padding-top: 0px;
  padding-left: 6px;
  border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  background-color: $bgc-white;
  margin-top: -43px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#my-plan-block {
  border-left: 1px solid #ddd;
  h4 {
    position: relative;
    top: -33px;
    padding-left: 3px;
    font-size: 17px;
    width: 164px;
    background-color: $bgc-white;
    padding: 8px 0 8px 13px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-right: 1px solid #aaa;
    vertical-align: top;
  }
}

.nav-tab-area {
  width: 91%;
  margin: auto auto;
  position: absolute;
  height: 57px;
  background-color: $bgc-white;
  z-index: 200;
  padding-top: 12px;
  top: 30px;
}

#time {
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .btn-primary {
    margin: 2px 0 9px;
    padding: 5px;
    &:before {
      font-family: 'Glyphicons Halflings';
      content: "\e023";
      font-size: 10px;
    }
  }
}

.time-card {
  background: transparent;
  border: none;
  margin-bottom: 0px;
  margin-top: -5px;
  .hour{
    background-color: $dark-color;
    padding: 6px;
    color: #ddd;
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0 0;
    width: 65px;
    margin-top: 22px;
    &:hover {
      cursor:pointer;
      cursor:hand;
    }
  }
  .time-border {
    margin-top: 16px;
    margin-bottom: -54px;
    border: 0;
    border: 6px solid $dark-color;
    margin-left: 45px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-right: 9px;
    &:hover {
      cursor:pointer;
      cursor:hand;
    }
  }
  > .close {
    margin-top: -19px;
    padding-right: 16px;
  }
}

#show-my-plan-cards {
  padding-left: 0px;
  padding-top: 15px;
}

#new-my-plan-cards > .sortable-card {
  width: 98%;
  padding-left: 70px;
}

.tab-pane .sortable-card {
  width: 98%;
}

#hotel-search {
  width: 90%;
}
.card_type,
.longitude,
.latitude {
  visibility: hidden;
  height: 0px;
}

#hidden-btn,
#show-btn {
  float: right;
  margin-top: -24px;
  z-index: 0;
  background-color: $bgc-white;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
  &:hover {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  }
}

.title {
  overflow: hidden;
  margin-right: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time-card .title {
  overflow: visible;
  margin-right: 0px;
}

#create-message-card,
#map-search,
#hotel-serch {
  width: 90%;
}

#map-canvas {
  width: 88%;
  height: 200px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  margin-top: 11px;
}

#route-map {
  width: 98%;
  height: 400px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  margin-top: 11px;
}

//show.html.haml
#area-tags {
  float: left;
  width: 100%;
  position: relative;
  top: -20px;
  .label {
    float: left;
  }
}
#show-page-header h1 {
  margin: 0 auto;
  text-align: center;
}

#show-my-plan-cards .title {
  text-overflow: clip;
  white-space: normal;
}

#btn-pdf,
#btn-clone {
  float: right;
  padding: 2px 5px;
  margin: 0 2px 0;
  background-color: $attention-color;
  border: 1px solid #888;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  &:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  }
  &:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4)inset;
  }
}

#btn-pdf:before {
  font-family: 'Glyphicons Halflings';
  content: "\e022";
  font-size: 11px;
  padding-right: 2px;
}

#btn-clone:before {
  font-family: 'Glyphicons Halflings';
  content: "\e066";
  font-size: 11px;
  padding-right: 2px;
}

#show-my-plan-cards {
  .default-card {
    &:hover {
      background: $main-color;
      color: $font-color;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
      cursor: default;
    }
  }
  .hotel-card {
    $hotel-card: #e2f7ce;
    &:hover {
      box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
      background: $hotel-card;
      color: $font-color;
      cursor: default;
    }
  }
  .time-card {
    .hour:hover {
      cursor: default;
    }
    .time-border:hover {
      cursor: default;
    }
  }
}

#review-post-area {
  background-color: #d0e0f0;
  padding: 16px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0px 4px 0px 0px;
  -moz-border-radius: 0px 4px 0px 0px;
  -webkit-border-radius: 0px 4px 0px 0px;
}
#review-h3 {
  background-color: #d0e0f0;
  width: 150px;
  padding: 5px;
  margin-bottom: 0px;
  border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 4px 4px 0px 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#review-list {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5)inset;
  background-color: #fefefe;
  padding: 30px;
}

#review-list .opinion-comment {
  padding: 2px 7px 0px 13px;
  margin-bottom: 3px;
}

#review-list #opinion-list {
  border-top: 0;
  border-left: 4px solid $attention-color;
  border-bottom: 1px solid #aaa;
  border-right: 0;
  background: transparent;
  margin: 0 0 40px;
}
