// Place all the styles related to the plan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$boader-color:        #e1e1e1;
$main-color:          #d0e0f0;
$attention-color:     #a6d233;
$glay-color:          #e8e8e8;
$dark-color:          #608090;
$dark-color-gradient: #7191a1;
$font-color:          #305060;


// plan/index.erb.html
.sns-botton > li{
  list-style: none;
  display: block;
}

#new-plan-button {
 text-align: center;
}

.top-list-title {
  background-color: $main-color;
  padding: 10px 10px 30px 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  list-style: none;
  float: left;
  width: 270px;
  margin: 5px;
  cursor: pointer;
  cursor: hand;
  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  a {
    width: 100%;
    height: 100%;
    float: right;
  }
  &:hover {
    background-color: $attention-color;
  }
  span {
    margin-right: 3px;
  }
}

.plans-list {
  margin-top: 30px;
}

.area-tags {
  overflow: auto;
  height: 16px;
}

// plan/new.erb.html
#plan-list > .navbar-fixed-top {
  top: 50px;
  padding: 10px 0 10px;
  background-color: #f0f0f0;
}

textarea {
  margin: 5px 0 10px;
  resize:none;
}

#main-card-sortable,
#message-card-sortable,
#hotel-card-sortable,
#tourist-card-sortable {
  list-style-type: none;
  padding: 0;
}

#main-card-sortable {
  padding-top: 20px;
}
#main-card-sortable > .ui-state-default {
  margin-left: 70px;
  width: 86%;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}

.contents {
  padding-top: 200px;
}

#card-search {
  height: 99%;
  overflow: scroll;
}

#prefectures > .area-division > .btn-primary {
  margin-top: 3px;
}

#prefectures > .area-division > p {
  margin: 10px 0 5px 0;
  color: #305060;
  border-bottom: 1px solid #f0f0f0;
}

#plan-list,
#plan-list > .container,
#plan-list > .container > .contents,
#plan-list > .container > .contents > .row,
#plan-list > .container > .contents > .row > .col-sm-6,
#plan-list > .container > .contents > .row > .col-sm-6 > .plan-detail {
  height: 99%;
}

#plan-list > .container > .contents > .row > .col-sm-6 > .plan-detail > #main-card-sortable {
  height: 96%;
}

#message > p {
  color: #a0a0a0;
  font-size: 17px;
  padding: 20px 5px 5px 0;
}

a[href^="#message"]:before {
  font-family: 'Fontello';
  content: "a";
}

.tab-content {
  margin-top:10px;
}

.plan-detail {
  overflow: scroll;
}

#sideber-left {
  border-left: 1px solid #ddd;
}

.travel-search {
  width: 92%;
}

.time-card {
  background: transparent;
  border: none;
  margin-bottom: -19px;
  margin-top: -9px;
  .hour{
    background-color: #608090;
    padding: 6px;
    color: #ddd;
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0 0;
    width: 65px;
    margin-top: 22px;
    &:hover {
      cursor:pointer;
      cursor:hand;
    }
  }
  .time-border {
    margin-top: 16px;
    margin-bottom: -54px;
    border: 0;
    border: 6px solid #608090;
    margin-left: 45px;
    border-radius: 1px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 8px;
    &:hover {
      cursor:pointer;
      cursor:hand;
    }
  }
}

.sortable-card {
  width: 98%;
  padding-left: 70px;
}

.card_type,
.longitude,
.latitude {
  visibility: hidden;
}
