%form#addplan
  .row
    .col-sm-10
      %input{ type: 'input', name: 'keyword', class: 'form-control', placeholder: '一言コメント', required: true}
    .col-sm-2
      %input{ type: 'submit', class: 'btn btn-default', value: '追加' }
      = hidden_field_tag :authenticity_token, form_authenticity_token
