%form#save-plan.form-inline{ method: 'POST'}
  .row
    .col-xs-4.col-sm-3.col-md-2.col-lg-2
      %button.btn.btn-default.btn-lg{ type: 'submit' }
        プラン保存
    .col-xs-6.col-sm-7.col-md-7.col-lg-7
      - if @plan
        %input.form-control.input-lg{ type: 'input', name: 'plan-title', value: @plan[:title], required: 'true' }
      - else
        %input.form-control.input-lg{ type: 'input', name: 'plan-title', placeholder: 'プランタイトル', required: 'true' }
      = hidden_field_tag :authenticity_token, form_authenticity_token

    #area-tags-box.col-xs-2.col-sm-2.col-md-3.col-lg-3
      - if @plan
        - (@plan[:area_tags] || []).each do |tag|
          %span.label.label-default{ name: tag }= tag

  %textarea.form-control{ name: 'plan-desc', placeholder: 'プランの説明（場所、時間、予算等）' }=  @plan.try(:description)
