.container
  #login-page-header.page-header
    = image_tag 'img-login.png', id: 'login-img', class: 'img-rounded'
    %h1
      SharePla
    #new-plan-button
      = link_to 'Twitterでログイン', root_path, class: 'btn btn-primary btn-lg'
      = link_to 'お試し', root_path, class: 'btn btn-primary btn-lg'

  = render 'sns_button'
  - if flash[:notice]
    .alert.alert-success.alert-dismissable
      %button{ type: 'button', class: 'close', data: {dismiss: 'alert'}, aria: {hiddeen: 'true'} }
        &times;
      =h(flash[:notice])
