<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to "プライバシー", "#" %></li>
        <li><%= link_to "問い合わせ", "#" %></li>
      </ul>
    </nav>
  <div><!-- .container -->
</footer><!-- .footer -->
