%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ data: { toggle: 'collapse', target: '.target' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'SharePla', root_path, class: 'navbar-brand'

    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'ご意見・コメントはこちら', opinions_path
      - if current_user
        %li
          %img{src: current_user[:image_url], height: '25', width: '25'}
        %li= link_to 'ログアウト', logout_path
      - else
        %li= link_to 'ログイン', '/auth/twitter'
