%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ data: { toggle: 'collapse', target: '.target' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'SharePla', root_path, class: 'navbar-brand'

    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'ご意見・コメントはこちら', opinions_path
      %li
        %a= 'Log in'
